<section class="w3l-stats py-lg-5 py-4" id="stats">
    <div class="gallery-inner container py-md-5 py-4">
        <div class="row stats-con">
            <div class="col-sm-3 col-6 stats_info counter_grid">
                <span class="fa fa-laptop"></span>
                <p class="counter">@ViewBag.totalService</p>
                <h4>Tamamlanan Projeler</h4>
            </div>
            <div class="col-sm-3 col-6 stats_info counter_grid1">
                <span class="fa fa-hourglass-end"></span>
                <p class="counter">@ViewBag.totalMessage</p>
                <h4>Toplam Mesajlarım</h4>
            </div>
            <div class="col-sm-3 col-6 stats_info counter_grid mt-sm-0 mt-5">
                <span class="fa fa-gift"></span>
                <p class="counter">@ViewBag.totalThanksMessage</p>
                <h4>Teşekkür Mesajları</h4>
            </div>
            <div class="col-sm-3 col-6 stats_info counter_grid2 mt-sm-0 mt-5">
                <span class="fa fa-smile-o"></span>
                <p class="counter">@ViewBag.happyCustomer</p>
                <h4>Mutlu Müşteriler</h4>
            </div>
        </div>
    </div>
</section>

