
<section class="w3l-index5" id="about">
    <div class="new-block py-5">
        <div class="container py-lg-5">
            <div class="middle-section text-center">
                <div class="section-width">
                    <h3 class="title-big">
                        @ViewBag.title
                    </h3>
                    <p class="mt-3">
                        @ViewBag.description
                    </p>
                </div>
                <div class="history-info mt-5">
                    <div class="position-relative">
                        <img src="~/Templates/alexander-starter/assets/images/code-review-tools.png" class="img-fluid radius-image video-popup-image"
                             alt="video-popup">

                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>

                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://www.youtube.com/embed/GxXbIwLdyEI" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
