<section id="home" class="w3l-banner py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12 mt-lg-0 mt-4">
                <span class="title-small">Merhaba Ben,</span>
                <h1 class="mb-2 title"> @ViewBag.featureTitle </h1>
                <h1 class="mb-4 title"> a <span class="typed-text"></span><span class="cursor">&nbsp</span></h1>
                <p>
                    @ViewBag.featureDescription
                </p>
                <div class="mt-sm-5 mt-4">
                    <a class="btn btn-primary btn-style mr-2" href="/Contact/Index"> Bana Ulaşın </a>
                    <a class="btn btn-outline-primary btn-style mr-2" href="https://github.com/sumeyyesabirli" target="_blank"> Projelerim </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-10 mt-lg-0 mt-4">
                <div class="img-effect text-lg-center">
                    <img src="@ViewBag.featureImage" alt="myphoto" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
