<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-4">
                    <div class="position-relative">
                        <img src="assets/images/myphoto.jpg" alt="" class="radius-image img-fluid">
                    </div>
                </div>
                <div class="col-lg-8 mt-lg-0 mt-5">
                    <h5 class="title-small mb-2">Ben Kimim?</h5>
                    <h3 class="title-big">@ViewBag.title</h3>
                    <p class="mt-4">
                        @ViewBag.description
                    </p>
                    <div class="my-social mt-lg-5 mt-4">
                        <a href="~/Templates/SumeyyeSabirli.pdf" class="btn btn-style btn-primary mt-lg-1 mt-1"download>Cv İndir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
