@model List<CasgemPortfolio.Models.Entities.TblService>

<section class="w3l-services">
    <div class="blog py-5" id="services">
        <div class="container py-lg-5">
            <h5 class="title-small text-center">Hizmetlerim</h5>
            <h3 class="title-big text-center mb-sm-5 mb-4">Yapabildiğim Bir Kaç İş</h3>
            <div class="row">
                <div class="col-md-12 mx-auto pr-2">
                    <div class="owl-two owl-carousel owl-theme">
                        @foreach (var item in Model)
                        {
                            <div class="item">
                                <div class="card">
                                    <div class="box-wrap">
                                        <div class="icon">
                                            <span class="fa fa-pencil-square-o"></span>
                                        </div>
                                        <h4 class="number">@item.ServiceNumber</h4>
                                        <h4><a href="#url">@item.ServiceTitle</a></h4>
                                        <p>
                                            @item.ServiceContent
                                        </p>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
